@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

 /* Navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.name {
  font-size: 2rem;
}

.nav-links ul{
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
a {
  color: black;
  text-decoration: none;
  transition: all 300ms ease;
  text-decoration-color:white
}
a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}
.hamburger-nav{
  display: none;
}





.burger-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 4rem;
  justify-content: center;
} 

.burger-4 .bar {
  display: block;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.burger-4 .bar span {
  position: absolute;
  width: 40px;
  height: 5.5px;
  background: var(--primary);
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
  background-color: black;
  
}

.burger-4 .bar span.top {
  top: 0;
}

.burger-4 .bar span.middle {
  top: 15px;
}

.burger-4 .bar span.bottom {
  bottom: 4px;
}

.burger-4.open .top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

.burger-4.open .bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
}

.burger-4.open .middle {
  transform: translateX(-20px);
  opacity: 0;
}

.menu-links {
  position: absolute;
  top: 10%;
  right:10%;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(129, 125, 125, 0.1);
}

.menu-links.open {
  max-height: 200px; 
}



.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
  overflow: visible;
}
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  min-height: 80vh;
}
 /* profile */

#profile{
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.profile-pic{
  width: 400px;
  height: 400px;
  align-self: center;
}
.profile-pic img{
  width: 100%;
  border-radius: 50%;
}
.text-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
}
p {
  color: rgb(85, 85, 85);
}

.text-section p {
  font-weight: 600;
}

.section-header {
  text-align: center;
}
.title {
  font-size: 3rem;
  text-align: center;
}
.subtitle {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}


.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
.btn-container button{
    font-weight: 600;
    width: 8rem;
    transition: all 300ms ease;
    padding: 1rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
}


.btn-info:hover,
.btn-cv:hover {
  cursor: pointer;
}

.btn-info,
.btn-cv:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-info:hover {
  background: rgb(0, 0, 0);
}

.btn-cv {
  background: none;
  color: black;
}

.btn-cv:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}
.social-container{
  display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
.icon{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
 /* ABOUT */

 #about {
  position: relative;
  height: 100vh;
}
 .section-about-container{
  display: flex;
  gap: 4rem;
  
}
.about-pic{
  display: flex;
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  margin: auto 0;
}
.about-pic img{
  width: 100%;
  border-radius: 2rem;
}
.about-text-container{
  flex:1;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.about-containers{
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.details{
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}
.details .icon{
  cursor: default;
}
.article-container {
  display: flex;
  text-align: initial;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 1rem;
}
.details h2{
  font-size: clamp(1rem, 1.5vw, 2rem)
}
article h3{
  font-size: clamp(0.8rem, 1.1vw, 2rem)
}
article p{
  font-size: clamp(0.2rem, 1vw, 2rem)
}
.text-container{
  text-align: justify
}
.text-container span{
  font-weight: 700;
}
.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
  cursor: pointer;
}

/* Project */
#project{
  position: relative;
  height: 100vh;
}
.project-details {
  background: rgb(250, 250, 250);
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  height: 70vh;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.project-img {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 700px; 
  margin: 0 auto;
  background-size: cover;
  overflow: hidden;
  border-radius: 2rem;
  background-image: url('./assets/project1.jpg');
  background-size: cover;
  background-position: center;
}
.project-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); 
  z-index: 2;
  width: 30%; 
  transition: opacity 2s ease, transform 2s ease;
}
.project-overlay.animate {
  transform: translate(-50%, -50%) scale(1); 
  opacity: 1; 
}
@keyframes zoomIn {
  0% {
    transform: scale(0.5) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}
.animated-text {
  position: absolute;
  display: inline-block;
  z-index: 2;
  width: 25%;
  top: 50%; 
  left: 17%; 
  transform: translate(-50%, -50%); 
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(229, 227, 227);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}
.animated-text span {
  opacity: 0;
  display: inline-block;
  transition: opacity 1s ease-in-out;
}
.multi{
  color: rgb(0, 123, 167);
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(229, 240, 244, 0.8);
}
.project-details .btn-container {
  position: absolute;
  z-index: 3;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, -50%)
}
.btn-project{
  background: white;
  cursor: pointer;
  color: black;
}
.btn-project:hover {
  background: rgb(53, 53, 53);
  color: white;
}


/* CONTACT */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding-top: 0;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem ;
}

footer p {
  text-align: center;
}

@media (max-width: 1600px) {
  .about-containers {
    gap: 1rem;
  }
  .details{
    padding: 1rem;
  }
  .article-container{
    gap: 1rem;
  }
  article{
    width: 8rem;
    padding: 0.5rem;
  }
  article .icon{
    width: 25px;
    height: 25px;
  }
  .section-about-container{
  height: 70vh;
}
}
@media(max-width: 1200px) {
  .nav-links {
    display: none;
  }
  .hamburger-nav {
    display: flex;
  }
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #project
   {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav .nav-links{
    display: none;
  }
  .hamburger-nav {
    display: flex;
  }
  .details h2{
    font-size: 1.5rem
  }
  article h3{
    font-size: 1.15rem
  }
  article p{
    font-size: 1rem
  }
  #profile,
  .section-about-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-about-container {
    height: fit-content;
  }
  #about, #project {
    height: auto;
    min-height: 100vh; 
  }
  section {
    margin: 0 5%;
  }
  .profile-pic{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    
  }
  .about-pic {
    min-width: 100px;
    width: 250px;
    height: 250px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .name {
    font-size: 1.5rem;
  }
  .burger-wrapper{
    width: 25px;
  }
  
  .menu-links{
    right: 5%;
    top:15%
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  .profile-pic{
    width: 220px;
    height:auto;
    justify-content: center;
    
    }
  .title {
      font-size: 2rem;
    }
 
  .subtitle {  
      font-size: 1.25rem;
    }
  #about{
    padding-bottom: 5rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .about-pic {
    min-width: 100px;
    width: 50%;
    height: auto;
    justify-content: center;
    }
  article {
    font-size: 1rem;
  }
  .text-container {
    text-align: justify;
  }
  #project{
    margin-inline: 0;
    min-height: 70vh;
  }
  .project-details{
    height: 50vh;
  }
 
  .project-img{
    width: 100%; 
    height: 100%;
    max-height: 40vh;
  }
  .project-overlay{
    width: 40%;
  }
  .animated-text{
    font-size: 1.15rem;
  }
  #contact{
    
    min-height: 75vh;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
 footer .nav-links {
    display: block;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}
